# Superpowers brainstorming temp files
.superpowers/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Env (caso futuramente use algo)
.env
.env.local
