# Superpowers brainstorming temp files
.superpowers/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Env (caso futuramente use algo)
.env
.env.local

# Node (sharp instalado apenas para script de otimizacao em scripts/optimize-images.js)
node_modules/
package.json
package-lock.json
